.footer {
  padding: 30px 170px;
  background-color: #242424;
  color: #DCDCDC;
  font-family: "Outfit", sans-serif;
  margin-bottom: 30px;
}
.footer hr{
    margin-bottom: 20px;
    width: 100%;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer_bottom_left {
  font-size: 16px;
}

.footer_bottom_right ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.footer_link {
  color: #DCDCDC;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer_link:hover {
  color: #f30c0c;
}


@media (max-width: 768px) {
  .footer_bottom {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 480px){
  .footer {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .footer_bottom {
    display: flex;
    flex-direction: column;
  }
}